.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}

.brand {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 1rem;
	width: 40px;
}

.nav {
	display: flex;
}

li.nav-item {
	background: transparent;
	list-style-type: none;
}

.nav-link {
	border-bottom: 1px solid transparent;
	border-radius: 5px;
	color: #ff5067;
	font-size: 1.1rem;
	margin-left: 2rem;
	padding: 0.4rem;
}

.nav-link:hover {
	background: #ffe4e4;
	border-bottom: 1px solid #ff5067;
	transition: all 250ms ease-in-out;
}
